$primary: #050607;


*{
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  background-color: rgb(160, 229, 241);
  margin:0; 
  box-sizing: border-box;
}

.title {
  color: $primary;
  text-decoration:none;
}
